body{
  background-image: url('images/back.jpg');
}
footer{
  position: fixed;
  bottom:0px;
}


/*from http://codepen.io/anon/pen/KzprjW?editors=1100*/

$mask-time: 7s;
$elem-mask-max: 22;
$elem-mask-step: $mask-time/$elem-mask-max;

.elem-mask {
  fill: none;
  stroke: #FFF;
  stroke-width: 0;
  animation: stroke-width $mask-time  infinite;

  @for $item from 2 through $elem-mask-max {
    &:nth-child(#{$elem-mask-max}n + #{$item}) {
      animation-delay: $elem-mask-step*($item - 1)*.15;
      }
    }
  }

@keyframes stroke-width {
  60% {
    stroke-width: 200;
    }
  90% {
    stroke-width: 0;
    }
  }

/* Change Image Animation
-------------------------------*/

$max: 1;
$duration: $mask-time * $max;//8s;
$step: $duration/$max;
$step-perc: percentage(1/$max);

.rotation__item {
  opacity: 0;
  animation: hide $duration step-end infinite;
  mask: url(#m-circles);

  @for $item from 2 through $max {
    &:nth-child(#{$max}n + #{$item}) {
    animation-delay: $step*($item - 1);
    }
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  #{$step-perc} {
    opacity: 0;
    }
}





@keyframes timer {
  100% {
    width: 100%;
  }
}



$rotation-height: 270px;

svg {
  width: 100%;
  height: $rotation-height;
}
