a {
  color: #274287;
  text-decoration: none;
}
a:hover {
color:green;
}
header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background-color: #FFF;
  z-index: 2;
  box-shadow: 0px 0px 10px 1px lightgrey;
  padding-bottom: 0;
}
footer{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 5%;
  background-color: #FFF;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px lightgrey;

}
nav{
  font-family: 'Fredericka the Great', cursive;
  position:relative;
  font-size: 1.5em;
  text-align: center;
}
nav ul{
  color:#8b2b1c;
  list-style-type: none;
  text-align: center;
  padding: 0 0 0 0;
  margin:  0 0 0 0;
}
nav li{
  margin-right: 3em;
  padding: 0 0 0 0;
  display: inline-flex;
}
#butn{
  position: fixed;
  top:400px;
  left:55%;
  margin-top: 20px;
}
body{
  font-family: 'Fredericka the Great', cursive;
  position: relative;
  padding-top: 100px;
  background-image: url('images/back.jpg');
  background-color: #FFF;
  text-align: center;
}

/*--------------------------------------------------------------------
* ----------------------------- Intro.html Style--------------------*/
div{
  margin:0 0 0 0;
  padding:0 0 0 0;
}
svg{
  position: fixed;
  top:200px;
  width: 20%;
  height: 20%;
  z-index: 0;
}
.message{
  height:400px;
  width: 50%
}
.introTitle{
  position: fixed;
  top:200px;
}
.app{
  position: fixed;
  top:100px;
}
.content-info{
  position: relative;
  top:2em;
  width:100%;
}
.content-info .grid{
  height: 15%;
  width: 45%;
  display: inline-block;
  margin: 15% 0 0 0;
  padding-right: 0;
}
.content-info .grid img{
  width:60%;
}
.content-artwork{
  margin: 15% auto;
  width:100%;
  /*background-color: rgba(255, 0, 0, 0);*/

}
.content-artwork .grid{
  height: 15%;
  width: 28%;
  display: inline-block;
  margin: 5% 0 0 0;
  padding-right: 0;
}
.content-artwork .grid img{
  border-radius: 3px;
  border-width: 2px;
  width:80%;
}
.grid img{
  margin:0;
  box-shadow: 0px 0px 4px 1px grey;
}

figurecaption{
  color:#B44;
}
/*start Title block*/
.titleEAT{
 text-align: center;
  position:relative;
  margin: 3% 0 0 0;
  color: #274287;
  font-family: 'Fredericka the Great', cursive;
  font-size: 42pt;
}
/*end Title block*/
/* start of drop down menu */


.dropdown {
  font-family: 'Fredericka the Great', cursive;
    position: relative;
    display: block;
    text-align: center;
}

.dropdown-content {
    text-align: center;
    font-size: .7em;
    display: none;
    position: absolute;
    left:-0.5em;
    background-color: rgba(255, 255, 255, 1);
    /*margin: 1em 0 0 0;*/
    padding: 1em 1em 1em 1em;
    box-shadow: 0px 0px 10px 2px lightgrey;

}
.dropdown:hover .dropdown-content {
  display: block;
}

/* end of drop down menu */
/*-------------------Gallery stuff----------------------------------*/
#thumbs img{
  align-self: center;
  width:80px;
}
/*----------contact.html page-------------------------------------*/
.form ul{
  list-style-type: none;
  text-align: right;
  margin-right: 45%
}
.animation{
  height: 100%;
  width: 100%;
  position: fixed;
}
input {
  position:relative;
  width:20%;
  height: 5%;

}
textarea{
  position: relative;
}
