a {
  color: #274287;
  text-decoration: none;
}
a:hover {
color:green;
}
::-moz-selection{
  background: yellow;
  color:#333;
  border-color:#274287;
}
::selection {
  background: yellow;
  color:#333;
  border-color:#274287;
}

#m1:hover{
  color:#D33;
}
#m2:hover{
  color:#636;
}
#m3:hover{
  color:#813C1B;
}
#m4:hover{
  color:#BB1713;
}
#a1:hover{
  color:red;
}
#a2:hover{
  color:#6D163D;
}
#a3:hover{
  color:green;
}
header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background-color: #FFF;
  z-index: 2;
  box-shadow: 0px 0px 10px 1px lightgrey;
  padding-bottom: 0;
}
.fintro{
  position:fixed;
  bottom:0;
  left:0;
}
footer{
  margin:0 0 0 0;
  position:relative;
  width:100%;
  height: 5%;
  background-color: #FFF;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px lightgrey;

}
nav{
  font-family: 'Fredericka the Great', cursive;
  position:relative;
  font-size: 1.5em;
  text-align: center;
}
nav ul{
  color:#8b2b1c;
  list-style-type: none;
  text-align: center;
  padding: 0 0 0 0;
  margin:  0 0 0 0;
}
nav li{
  margin-right: 1.5em;
  margin-left: 1.5em;
  padding: 0 0 0 0;
  display: inline-flex;
}
body{
  margin: 0 0 0 0;
  font-family: 'Fredericka the Great', cursive;
  position: relative;
  padding-top: 100px;
  height: auto;
  background-image: url('images/back.jpg');
  background-color: #FFF;
  text-align: center;
  min-height: 12em;
}
div{
  margin:0 0 0 0;
  padding:0 0 0 0;
}
p{
  text-align: left;
  margin-top: 4em;
  margin-right: 10%;
  margin-left: 10%
}

svg{
  position: fixed;
  top:200px;
  width: 20%;
  height: 20%;
  z-index: 0;
}
/*--------------------------------------------------------------------
* ----------------------------- Intro.html Style--------------------*/
audio{
  position:fixed;
  left:0px;
}
.animation{
  height: 100%;
  width: 100%;
  position: fixed;
}
.content-info{
  position: relative;
  top:3em;
  margin-bottom: 3em;
  width:100%;
}
.content-info .grid{
  height: 15%;
  width: 45%;
  display: inline-block;
  margin-bottom: 15%;
  padding-right: 0;
}
.content-info .grid img{
  width:60%;
}
.content-artwork {
  margin: auto;
  width:100%;
}
.content-artwork .grid{
  /*float: left;*/
  height: 15%;
  width: 28%;
  display: inline-block;
  margin: 5% auto;
}
.content-artwork .grid img{
  border-radius: 3px;
  border-width: 2px;
  width:80%;
}
.grid img{
  margin:0;
  box-shadow: 0px 0px 4px 1px grey;
}

figurecaption{
  color:#B44;
}
/*start Title block*/
.titleEAT{
 text-align: center;
  position:relative;
  margin: 1% 0 0 0;
  color: #274287;
  font-family: 'Fredericka the Great', cursive;
  font-size: 42pt;
}
/*end Title block*/
/*------------- start of drop down menu ----------------------------*/
.dropdown {
  font-family: 'Fredericka the Great', cursive;
    position: relative;
    display: block;
    text-align: center;
}

.dropdown-content {
    text-align: center;
    font-size: .7em;
    display: none;
    position: absolute;
    left:-0.5em;
    background-color: rgba(255, 255, 255, 1);
    /*margin: 1em 0 0 0;*/
    padding: 1em 1em 1em 1em;
    box-shadow: 0px 0px 10px 2px lightgrey;

}
.dropdown:hover .dropdown-content {
  display: block;
}

/* end of drop down menu */
/*-------------------Gallery stuff----------------------------------*/
#thumbs img{
  align-self: center;
  width:80px;
}
/*----------contact.html page-------------------------------------*/
.form{
  display: block;
  width: 70%;
}
.form ul{
  list-style-type: none;
  text-align: right;
  margin: 1em auto;
}
.about-text{
  float: right;
  width:40%;
  text-align: right;
}
.button{
  position: relative;
  background-color: #FFF;
  font-size: 1.5em;
  width: 45%;
}
input, textarea{
  border: 3px solid #163176;
  position:relative;
  width: 70%;
  padding: .2em .8em;
  background-color: #FFF0FA;
}
input:focus{
  background-color: #FFF;
}
input {
  margin-bottom: 0.5em;
  height: 1.5em;
}
textarea{
  font-family:sans-serif;
  position: relative;
  height: 10em;
}
