a {
  color: #274287;
  text-decoration: none;
}
a:hover {
color:green;
}
header{
  position: fixed;
  top:0;
  width:100%;
  height: 30%;
  background-color: #FFF;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px lightgrey;
}
footer{
  position:relative;
  width:100%;
  height: 5%;
  background-color: #FFF;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px lightgrey;

}
.menuBut{
  margin-right: 20px;
}
nav{
  font-family: 'Fredericka the Great', cursive;
  position:fixed;
  font-size: 1.5em;
  top:3%;
  left:20%;
  margin:0;
  padding:0;
  margin-left: 0%;
  margin-right: auto;

}
nav ul{
  color:#8b2b1c;
  list-style-type: none;
  margin-left: auto;
  margin-right: 10%;
}
nav li{
  float: left;
  margin-right: 100px;
  padding-right: 0;
}
nav body{
  margin:0px auto;
  background-color: #FFF;
  text-align: center;
}
#butn{
  position: fixed;
  top:400px;
  left:55%;
  margin-top: 20px;
}
#contact{
  display:inline;
  margin:0;
  width:5%;
float:right;
}
.titleBar {
  height: 30%;
  margin: 0 0 0 0;
  position: fixed;
  top:0%;
  background:#FFF;
}
body{
  font-family: 'Fredericka the Great', cursive;
  margin:0px auto;
  background-image: url('images/back.jpg');
  background-color: #FFF;
  text-align: center;
}

/*--------------------------------------------------------------------
* ----------------------------- Intro.html Style--------------------*/
div{
  margin:0;
  padding:0;
}
svg{
  position: fixed;
  top:200px;
  width: 20%;
  height: 20%;
  z-index: 2;
}
.introTitle{
  position: fixed;
  top:200px;
}
.app{
  position: fixed;
  top:100px;
}
.content-info{
  position: relative;
  margin: 100px auto;
  width:100%;
  height: 2000px;
  /*background-color: rgba(255, 0, 0, 0);*/

}
.content-info .grid{
  height: 15%;
  width: 45%;
  display: inline-block;
  margin: 15% 0 0 0;
  padding-right: 0;
}
.content-info .grid img{
  width:60%;
}
.content-artwork{
  margin: 15% auto;
  width:100%;
  /*background-color: rgba(255, 0, 0, 0);*/

}
.content-artwork .grid{
  height: 15%;
  width: 28%;
  display: inline-block;
  margin: 5% 0 0 0;
  padding-right: 0;
}
.content-artwork .grid img{
  border-radius: 3px;
  border-width: 2px;
  width:80%;
}
.grid img{
  margin:0;
  box-shadow: 0px 0px 4px 1px grey;
}

figurecaption{
  color:#B44;
}
/*start Title block*/
.titleEAT h1 {
  text-decoration: none;
  font-weight: normal;
  display:block;
  margin: 0;
  width:200px;
  font-size: .55em;
  z-index: 1;
}
.titleEAT{
  position:absolute;
  top:  40px;
  left: 60px;
  height: inherit;
  color: #274287;
  font-family: 'Fredericka the Great', cursive;
  font-size: 42pt;
  z-index: 2;
}
/*end Title block*/
/* start of drop down menu */
.dropdown {
  font-family: 'Fredericka the Great', cursive;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-size: .7em;
    display: none;
    margin-top: 1.5em;
    position: absolute;
    padding-top: 1em;
    background-color: #f9f9f9;
    min-width: 400px;
    z-index: 1;
}
.dropdown-content li {
  margin-top: .5em;

}
.dropdown-content a:hover {
  color:green;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* end of drop down menu */
/*-------------------Gallery stuff----------------------------------*/
#thumbs img{
  align-self: center;
  width:80px;
}
