header{
  position: absolute;
  top:200px;
  width:100%;
  height: 30%;
  background-image: url('Client/images/title.png');
  background-repeat: no-repeat;
}

nav{
  font-family: "trebouchet MS";
  position:fixed;
  font-size: 1.5em;
  top:0%;
  margin:0;
  padding:0;
  margin-left: 10%;
  margin-right: auto;
}
nav ul{
  color:#8b2b1c;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}
nav li{
float: left;
margin-right: 1em;
}
#butn{
  position: fixed;
  top:400px;
  left:55%;
  margin-top: 20px;
}
#contact{
  display:inline;
  margin:0;
  width:5%;
float:right;
}
.titleBar {
  height: 30%;
  margin: 0 0 0 0;
  position: fixed;
  top:0%;
  background:#FFF; /* #ADF0DF;  lightblue*/
}
body{
  font-family: Arial, Helvetica, sans-serif;
  margin:0px auto;
  background-color: #FFF;
  text-align: center;
}

/*--------------------------------------------------------------------
* ----------------------------- Intro.html Style--------------------*/
div{
  margin:0;
  padding:0;
}
.introTitle{
  position: fixed;
  top:200px;
}
.app{
  position: fixed;
  top:100px;
}
.content{
  margin: 15% 15% auto;
  width:85%;
  background-color: #000;

}
.grid{
  height: 15%;
  width: 45%;
  display: inline-block;
  margin: 10% 0 0 0;
  padding-right:0 auto;
}
a {
  color:black;
}
.grid img{
  border-style: dashed;
  border-color: #ccc;
  border-width: 2px;
  margin:0;
  margin-bottom: 10%;
  width:60%;
}
figurecaption{
  color:#B44;
}
h1 {
  font-family: Arial;
  color:white;
  size: 20%;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
